<header class="application-header">
  <h1 class="application-title">Ember Layout Demo</h1>
  <ul class="application-menu">
    <li class="menu-item">{{#link-to 'left-sidebar'}}Left Sidebar{{/link-to}}</li>
    <li class="menu-item">{{#link-to 'two-sidebars'}}Two Sidebars{{/link-to}}</li>
    <li class="menu-item">{{#link-to 'right-sidebar'}}Right Sidebar{{/link-to}}</li>
  </ul>
</header>